
.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#searchInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Контейнер для продуктов */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Карточка товара */
.product {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.2s;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product p {
    font-size: 1rem;
    color: #333;
}

.product .order-btn {
    background-color: #6c63ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product .order-btn:hover {
    background-color: #45a049;
}

/* Модальные окна */
.modal, .add-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content, .add-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.add-modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-modal-content button.add-button {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.add-modal-content button.add-button:hover {
    background-color: #6c63ff;
}

/* Кнопка добавления товара */
.add-product-btn-container {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.2rem;
}

.add-product-btn-container:hover {
    background-color: #6c63ff;
}

/* Стили для кнопки "Перейти в Telegram" */
.button {
    background-color: #0088cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #007bb5;
}
/* Стили для админ панели */
.admin-panel {
    display: none; /* Скрыта по умолчанию */
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #6c63ff;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
}

.admin-btn {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.admin-btn:hover {
    background-color: #6c63ff;
}
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.footer-buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    color: #6c63ff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.footer-buttons button:hover {
    background-color: white;
}
